.main-container{
    margin: auto;
    margin-top: 200px;
    width: fit-content; /*fit contente vai ser tamanho apenas do que ccouber dentro, para n ficar pegando varios espaços*/
    padding: 24px;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #58434F;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 32px;
}

/*O MOTIVO DE X-CONTAINER (filho-pai), exemplo no 
button e button-container. quem fica ao redo (pai)desses botton vai 
dizer como que seus filhos vão se posicionar (todos). 
Agora so o button vai ser como ele em específico
vai ser.*/

.button-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 5px;
}

/*cuidado pra nao botar essas estilizações com -container um arquivo muito especifico,
pois eles estao estilizações gerais do App, verifique onde q ta a className escrita 'button-container', 
pois nesse cod vou criar uma pasta pra colocar a estilização so do button*/
