/*esse index.css é o arquivo geral que se aplica pra todos, mas devo chamar ela no main*/

html,body, #root{
    width: 100%;
    height: 100%; /* se n ele vai pegar apenas onde tiver preenchido com o coponente*/
    margin: 0;
}

#root{
    display: flex;
}

html{
    height: 100%;
    background-color: #38434f;
}

h1,h2,h3,h4,h5,h6,p,span, button{
color: white;
}